In [2]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

In [15]:
# Load the selected tickers from the CSV file
strings = ["Communication_Services","Energy","Health_Care","Industrials","Information_Technology","Real_Estate", "financials"]
for string in strings:
    selected_tickers_df = pd.read_csv("selected_stocks_"+string+".csv")

    # Define the time period for data collection
    start_date = "2015-01-01"
    end_date = datetime.today().strftime("%Y-%m-%d")

    # Initialize an empty DataFrame to store historical price data
    historical_price_data = pd.DataFrame()

    # Loop through the tickers and fetch historical price data
    for ticker in selected_tickers_df["symbol"]:
        # Fetch price data using yfinance
        price_data = yf.download(ticker, start=start_date, end=end_date, progress=False)
        
        # Add a column with the ticker symbol
        price_data["symbol"] = ticker
        
        # Check for missing data and fill gaps using linear interpolation
        missing_data_count = price_data.isnull().sum().sum()
        if missing_data_count > 0:
            print(f"{ticker} has {missing_data_count} missing data points. Filling gaps using linear interpolation...")
            price_data.interpolate(method="linear", inplace=True)
        
        # Keep only the 'Adj Close' data and rename the column to the ticker symbol
        adj_close_data = price_data[['Adj Close']]
        adj_close_data.columns = [ticker]

        # Concatenate the adjusted close data into the historical_price_data DataFrame
        if historical_price_data.empty:
            historical_price_data = adj_close_data
        else:
            historical_price_data = pd.concat([historical_price_data, adj_close_data], axis=1)
            
    # Save the historical price data to a CSV file
    historical_price_data.to_csv("hist adjust close "+string+".csv")

In [16]:
historical_price_data

,ACN,ADBE,AKAM,AMD,APH,ADI,ANSS,AAPL,AMAT,ANET,...,DXC,ENPH,EPAM,FFIV,FSLR,FTNT,IT,GEN,HPE,PAYC
Date,,,,,,,,,,,,,,,,,,,,,
2014-12-31,77.832123,72.699997,62.959999,2.670000,24.821077,46.490749,82.000000,24.801620,22.271446,15.190000,...,21.127184,14.290000,47.750000,130.470001,44.599998,6.132000,84.209999,10.221417,NaN,26.330000
2015-01-02,77.422531,72.339996,63.250000,2.670000,24.742662,46.507500,81.639999,24.565693,22.307192,15.670000,...,21.194201,14.210000,46.470001,130.330002,44.549999,6.158000,83.599998,10.193535,NaN,26.059999
2015-01-05,76.115311,71.980003,61.939999,2.660000,24.290611,45.661751,80.860001,23.873644,21.592220,15.950000,...,20.765293,13.880000,46.270000,129.759995,41.830002,6.104000,82.099998,10.050131,NaN,25.180000
2015-01-06,75.566254,70.529999,60.669998,2.630000,23.981565,44.589924,79.260002,23.875896,20.778934,15.952500,...,20.818899,12.940000,46.290001,126.730003,40.860001,5.990000,81.349998,9.894778,NaN,24.559999
2015-01-07,77.152367,71.110001,60.160000,2.580000,24.392096,45.058842,79.709999,24.210682,20.975557,16.285000,...,20.969696,11.400000,47.290001,128.350006,41.750000,6.076000,82.599998,9.986398,NaN,25.340000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-20,252.550003,362.880005,75.139999,96.809998,77.669998,187.059998,313.600006,157.399994,124.040001,164.199997,...,23.160000,192.509995,275.040009,142.619995,204.679993,61.540001,308.149994,16.639999,14.44,270.369995
2023-03-21,257.619995,374.220001,75.699997,95.930000,78.370003,188.399994,314.420013,159.279999,120.400002,168.080002,...,24.030001,207.630005,279.660004,144.830002,209.250000,62.459999,314.059998,17.059999,14.75,277.350006
2023-03-22,253.270004,361.709991,74.150002,97.580002,77.629997,186.610001,309.130005,157.830002,118.860001,166.059998,...,23.629999,202.149994,275.130005,140.669998,205.009995,61.209999,312.100006,16.440001,14.43,266.850006
2023-03-23,271.660004,369.000000,75.050003,100.279999,78.379997,189.449997,314.649994,158.929993,122.779999,169.389999,...,23.250000,204.660004,284.450012,140.300003,210.190002,63.250000,308.540009,16.350000,14.27,272.320007
2023-03-24,272.000000,374.959991,76.050003,97.949997,78.610001,187.690002,315.700012,160.250000,119.529999,168.940002,...,23.360001,195.990005,278.500000,141.119995,211.100006,62.990002,312.109985,16.400000,14.23,271.559998