In [5]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.4.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.22.3)
Requirement already satisfied: lxml>=4.5.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import yfinance as yf
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [7]:

# Define a list of stock tickers to collect data for
tickers = ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'META']

# Collect historical price data for the tickers using Yahoo Finance adjusted (for any corporate actions, such as stock splits or dividends)
prices_df = yf.download(tickers, start='2016-01-01', end='2021-12-31', auto_adjust=True)['Close']
# Collect additional market data using web scraping
fundamentals = {}
news_sentiment = {}

prices_df

[*********************100%***********************]  5 of 5 completed

                  AAPL        AMZN        GOOG        META        MSFT
Date
2015-12-31   24.054173   33.794498   37.944000  104.660004   49.616081
2016-01-04   24.074739   31.849501   37.091999  102.220001   49.007946
2016-01-05   23.471447   31.689501   37.129002  102.730003   49.231525
2016-01-06   23.012114   31.632500   37.181000  102.970001   48.337231
2016-01-07   22.040897   30.396999   36.319500   97.919998   46.655914
...                ...         ...         ...         ...         ...
2021-12-23  174.995621  171.068497  147.142502  335.239990  330.754578
2021-12-27  179.016129  169.669495  148.063995  346.179993  338.423340
2021-12-28  177.983673  170.660995  146.447998  346.220001  337.237396
2021-12-29  178.073044  169.201004  146.504501  342.940002  337.929230
2021-12-30  176.901627  168.644501  146.002502  344.359985  335.330139

[1511 rows x 5 columns]

In [10]:
# Define a list of tickers to download data for
tickers = ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'META', 'JPM', 'JNJ', 'V', 'PG', 'UNH',
'HD', 'PYPL', 'MA', 'NVDA', 'DIS', 'PFE', 'TSM', 'NVAX', 'MRNA', 'NIO', 'BABA', 'TSLA',
'F', 'VZ', 'VOO', 'KO', 'NKE', 'WMT', 'PDD', 'JD', 'MCD','INTC', 'CSCO', 'AMD', 'SBUX', 'CMCSA', 'ABBV', 'ETSY', 'BMY', 'T', 'XOM',
'CVX', 'PBR', 'BBD', 'SAP', 'TSM']

# Download data for the tickers
data = yf.download(tickers, period="1d")
data

[*********************100%***********************]  45 of 45 completed

           Adj Close                                                     \
                AAPL        ABBV        AMD       AMZN       BABA   BBD
Date
2023-03-17     155.0  154.220001  97.839996  98.949997  81.669998  2.53

                                                         ...    Volume  \
                  BMY      CMCSA       CSCO         CVX  ...      SBUX
Date                                                     ...
2023-03-17  66.529999  36.029999  50.189999  152.339996  ...  10187800

                                                                       \
                   T       TSLA       TSM      UNH         V      VOO
Date
2023-03-17  58711400  132936600  13283400  5283100  18797500  5186800


                  VZ       WMT       XOM
Date
2023-03-17  47335300  14357300  43187100

[1 rows x 270 columns]